body{
    margin: 0px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    background-image: url(../img/imghome.jpg);
    background-size: 2000px;
 
}
body.doc{
    margin: 2%;
    background-color: black;
    background-image: none;
    
}

h1{
    text-align: center;
    font-weight: 700;
    color: white;
    font-size:4rem;
   
   
   
}
h2,p1{
    font-weight: 400;
    color:white;
    font-size: 2rem;
    
}
p {
    font-weight: 200;
    color: white;
    font-size: 1rem;
    
}
p2{
    font-weight: 200;
    color: white;
    font-size: 2rem;
    
 
}
p3{
    font-weight: 100;
    color: white;
    font-size: 1.5rem;
    text-align: left; 
    margin: 0%;
    float: left;
}

nav ul li{
    display: inline-block;
    
} 
nav.doc{
    text-align: left;
}


header,section{
    padding: 4% 4% 0px 4%;
   
}
.whitelink {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.3rem;
}
.active{
    color: black;
    background-color: #FF6900;
    border-radius: 3px 3px 0px 0px;
    font-size: 1.3rem;

}
.nounderline{
    text-decoration: none;
    padding: 10px 10px 0px 10px;
    font-size: 1.3rem;
}
.underline{
    text-align: center;
    text-decoration: underline;
    color: #FF6900;
    font-size: 1.5rem;
}
.text {
    font-weight: 100;
    color: white;
    font-size: 1.5rem;
    text-align: left; 
    margin: 0%;
    
}
.p-2 {
    font-weight: 100;
    color: white;
    font-size: 1.5rem;
    text-align: left; 
}
.btn{
    color: #FF6900;
    background-color: black;
    font-weight: 600;
    border-color: #FF6900;
    font-size: 2rem;
    float: right;
}
.fa-regular{
    float: right;
}

.title{
    color: #FF6900;
    font-size: 2rem;
    font-weight: 200;
}

.divisore{
    color:#FF6900;
    text-align: center;
    font-size: 2.5rem;
    
}

.text2{
    color: white;
    text-align: left;
    font-size: 1.5rem;
}

.title2{
    color: white;
    text-align: center;
    font-size: 2rem;

}
div{
    color: white;
    font-size: 1.5rem;
    font-weight: 100;
    text-align: left;
}
.container{
    display: flex;



    
}
.btn1{ 
    color: #FF6900;
    background-color: black;
    font-weight: 600;
    border-color: #FF6900;
    font-size: 2rem;
    float: left;
    cursor: pointer;

}
.card-body{
    font-weight: 100;
    color: white;
    font-size: 1.5rem;
    text-align: left; 
    margin: 0%;
}
.card{
    background-color: black;
    text-decoration: none;
}
footer{
    color: white;
    text-align: left;
}
i {color: #FF6900;
}
#contatti{
    background-color: #FF6900;
    color: white;
}
#imgmappa{
    height: 50px;
    width: auto;

}

.carousel-inner{
    height: 1500px;
    width: auto;
    
}

.form-inline{
    border-radius: 3% 3% 3% 3%;



}
.col-9{
    margin: 0%;
    padding: 0%;
}